*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 28px;
}
h2, p{
    color: #444851;
}
.container{
    width: 100%;
    background-color: #F6F8F9;
    padding-bottom: 24px;
}
/*nav bar*/
.nav-top{
    height: 75px;
    /* display: flex; */
    /* align-items: center; */
    background-color: rgba(255, 255, 255, 1);
}
#logo{
    height: 50px;
    vertical-align: middle;
}
.nav-top #logo{
    margin: 0 8px 0 16px;
}
.nav-top h1{
    display: inline-block;
    vertical-align: middle;
    /* margin-top: 16px; eliminato per flex */
}
.task-wrapper{
    width: 70%;
    background-color: #FFFFFF;
    margin: 90px auto;
}
.select{
    padding: 15px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/*top buttons*/
.btn{
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.blue-btn {
    border: none;
    color: #ffffff;
    background-color: #43A3E4;
}
.white-btn{
    border: 1px solid #C5CBD0;
    background-color: #ffffff;
    color: #C5CBD0;
}
/*task icon*/
.triangle{
    color: #444851;
    font-size: 16px;
    margin-right: 8px;
}
.items{
    margin: 35px 50px ;
}
.tasks-container{
    margin-bottom: 8px;
}
.task-title{
    margin-bottom: 16px;
}
/*check list green*/
.circle{
    
}
.check{
    height: 20px;
    width: 20px;
    color: #67C2AC;
    border-radius: 50%;
    border: 2px solid #67C2AC;
    display: inline-block;
}
.done{
    line-height: 0px;
    margin-left: 2px;
}
/*cross list red*/
.uncheck{
    height: 20px;
    width: 20px;
    color: #EC5950;
    border-radius: 50%;
    border: 2px solid #EC5950;
    display: inline-block;
}
.undone{
    line-height: 0px;
    margin-left: 2px;
}
.todo-item p{   
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 24px;
}
.item-btn{
    border-radius: 15px;
    color: #FFFFFF;
    padding: 8px 12px;
    border: none
}
/*color button*/
.blue {
    background-color: #45ABEA;
}
.purple{
    background-color: #9C72E4;
}
.green{
    background-color: #64C0A9;
}
.orange{
    background-color: #F29E33
}
.dark-pink{
    background-color: #D863A1;
}
.light-green{
    background-color: #B0C926;
}
